{% extends "layout.html" %}
{% set active_page = "Welcome" %}

{% block content %}
  <div class="sticky-top float-right" style="width: 250px">
    {% with %}
        {% set menu = 'software' %}

        {% include 'menu.html' %}
    {% endwith %}

  </div>
  
  <div class="container">
    <div class="jumbotron">
      <h1 id="portfolio" class="title">{% if ref_cv %}Rajmund Csombordi{% else %}Oboforty{% endif %}</h1>
      <h4 class="lead">Portfolio</h4>
      <div>
        <a class="btn btn-link btn-lg text-success" href="/CV.pdf">Download my CV</a>

        <p>Check the right side menu for browsing my projects.</p>
      </div>

      {% if ref_cv %}
      <div class="row">
        <a class="btn btn-link btn-block col-3" target="_blank" href="http://linkedin.com/in/rajmundcsombordi">linked.in</a>
        <a class="btn btn-link btn-block col-3" target="_blank" href="https://angel.co/u/oboforty">angel.co</a>
        <a class="btn btn-link btn-block col-3" target="_blank" href="https://github.com/oboforty">github</a>
        <a class="btn btn-link btn-block col-3" target="_blank" href="https://www.researchgate.net/profile/Rajmund_Csombordi">researchgate</a>
      </div>
      {% endif %}

    </div>

    {% set hidemenu = True %}
    {% include 'software.html' %}
  </div>

{% endblock %}
