<!DOCTYPE html>
{% set navigation_bar = [
  ('Welcome', url_for('Home:get_index')),
] -%}
{% set active_page = active_page | default('index') -%}

<html>
<head>
  <title>Oboforty</title>

  {% block head %}{% endblock %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  {% block og %}
    <meta property="og:title" content="Rajmund Csombordi - Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://oboforty.pythonanywhere.com" />
    <meta property="og:image" content="/img/pfp.png" />
    <meta property="og:description" content="" />
  {% endblock %}

  <!-- Bootstrap & Vue.js & Bootstrap-vue -->
  <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.min.css"/>

  <!-- vendor js -->
  <!-- <script src="/js/vendor/vue.min.js" defer></script> -->
  <script src="/js/vendor/polyfill.min.js" defer></script>
  <script src="/js/vendor/bootstrap-native.min.js" defer></script>
  <script src="/js/vendor/ra.min.js" defer></script>

  <!-- Custom javascript -->
  {% block scripts %}{% endblock %}

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  {% block styles %}{% endblock %}

</head>
<body>

  {% block content %}{% endblock %}

</body>
</html>