
{% if not hidemenu %}
    <nav id="navbar-scrollspy" class="navbar navbar-light bg-light border rounded">
        <nav class="nav nav-pills flex-column">

            <a class="nav-link {% if menu == 'index' %}text-success{% endif %}" href="{{ url_for('Home:get_index') }}">Contact</a>

            <a class="nav-link {% if menu == 'software' %}text-success{% endif %}" href="{{ url_for('Home:get_software') }}">Software Projects</a>
            {% if menu == 'software' %}
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#metaseeker">Metabolome database</a>
                <a class="nav-link ml-3 my-1" href="#doors">Doors Authentication</a>
                <a class="nav-link ml-3 my-1" href="#eme">Python Backend Framework</a>
                <!-- <a class="nav-link ml-3 my-1" href="#lauren">Encryption App</a> -->
                <a class="nav-link ml-3 my-1" href="#merlin2">Academia Docsharing Portal</a>
            </nav>
            {% endif %}

            <!-- <a class="nav-link {% if menu == 'bioinformatics' %}text-success{% endif %}" href="{{ url_for('Home:get_bioinformatics') }}">Bioinformatics</a>
            {% if menu == 'bioinformatics' %}
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#metaseeker">Metabolome database</a>
                <a class="nav-link ml-3 my-1" href="#metafetcher">Metabolome R package</a>
                <a class="nav-link ml-3 my-1" href="#nematode">Nematode Simulation</a>
            </nav>
            {% endif %} -->
<!-- 
            <a class="nav-link {% if menu == 'examples' %}text-success{% endif %}" href="{{ url_for('Examples:get') }}">Tech Showcase</a>
            {% if menu == 'examples' %}
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#spa">Single Page Apps</a>
                <a class="nav-link ml-3 my-1" href="#">Tensorflow Multiport</a>
                <a class="nav-link ml-3 my-1" href="#">Django App</a>
                <a class="nav-link ml-3 my-1" href="#">Flask Microservices</a>
                <a class="nav-link ml-3 my-1" href="#">RabbitMQ & Celery App</a>
                <a class="nav-link ml-3 my-1" href="#ricochat">Simple Voice Chat</a>
            </nav>
            {% endif %}

            <a class="nav-link {% if menu == 'game' %}text-success{% endif %}" href="{{ url_for('Home:get_gamedev') }}">Game dev</a>
            {% if menu == 'game' %}
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#geopoly">Geopoly</a>
                <a class="nav-link ml-3 my-1" href="#geopolyold">Screenshots</a>
            </nav>
            {% endif %} -->
        </nav>
    </nav>
{% endif %}