<div id="doors">

    <h2 class="display-4">Doors KGS Auth system
        <img class="limg" title="Python" src="/img/logo/python.png" />
        <img class="limg" title="Javascript" src="/img/logo/javascript.png" />
        <img class="limg" title="Flask" src="/img/logo/flask.png" />
        <img class="limg" title="Eme" src="/img/logo/eme.png" />
        <img class="limg" title="Vue.js" src="/img/logo/vue.png" />
        <img class="limg" title="OAuth 2" src="/img/logo/oauth.png" />
    </h2>

    <p>In a world dominated by microservices and multi-app companies, it is important for firms to rely on a central login system.</p>

    <h3>Setting up a project</h3>
    <p>Enabling Doors KGS authentication support for a web project is as easy as adding an Eme module to your Flask project (it doesn't even have to be an Eme app either). The module accesses the OAuth2 interface using <a href="https://authlib.org/" target="_blank">Authlib</a> package. </p>

    <p>For non-web projects it's still as simple as implementing the OAuth2 interface.</p>


    <h3>Logging in through the Doors service</h3>
    <p>Registration happens directly through the web interface of Doors Auth. Likewise users can log in through the main website as well.</p>

    <div class="row mb-4">
        <div class="col">
            {{ 'doors/0welcome.png'|gallery|safe }}
        </div>
        <div class="col">
            {{ 'doors/1index.png'|gallery|safe }}
        </div>
    </div>


    <h3>Authenticating from an external app</h3>
    <p>All our company's apps and my personal projects rely on Doors KGS Authentication. Users can login through the web by navigating to the Doors Auth service and enabling the app to access the user's profile.</p>

    <div class="row mb-4">
        <div class="col-3">
            {{ 'doors/3login_web.png'|gallery|safe }}
        </div>
        <div class="col-3">
            {{ 'doors/3login_web2.png'|gallery|safe }}
        </div>
        <div class="col-3">
            {{ 'doors/3login_web3.png'|gallery|safe }}
        </div>
        <div class="col-3">
            {{ 'doors/3login_web4.png'|gallery|safe }}
        </div>
    </div>

    <p>For my Unity apps I use user credential grant type. The app calls the Doors service for login and caches the user and its access token as well for a brief period. When the access token expires, however, the app re-authenticates using the refresh token, so that the user stays logged in without re-entering their credentials.</p>
    <div class="row mb-4">
        <div class="col-4 py-2">
            {{ 'doors/4login_unity2.png'|gallery|safe }}
        </div>
        <div class="col-4 py-2">
            {{ 'doors/4login_unity3.png'|gallery|safe }}
        </div>
        <div class="col-4 py-2">
            {{ 'doors/4login_unity5.png'|gallery|safe }}
        </div>

        <div class="col-4 py-2">
            {{ 'doors/4login_unity.png'|gallery|safe }}
        </div>
        <div class="col-4 py-2">
            {{ 'doors/4login_unity4.png'|gallery|safe }}
        </div>
        <div class="col-4 py-2">
            {{ 'doors/4login_unity6.png'|gallery|safe }}
        </div>
    </div>

    <h3>Admin panel</h3>
    <p>Admins can manage the users and their login status through editing the OAuth2 clients and tokens. The client secrets (needed for app integration) can be also found here.</p>


    <div class="row mb-4">
        <div class="col-3">
            {{ 'doors/2list_clients.png'|gallery|safe }}
        </div>
        <div class="col-3">
            {{ 'doors/2edit_client.png'|gallery|safe }}
        </div>
        <div class="col-3">
            {{ 'doors/2tokens.png'|gallery|safe }}
        </div>
        <div class="col-3">
            {{ 'doors/2clientsecret.png'|gallery|safe }}
        </div>
    </div>

    <h3>ML Generated profile pictures</h3>
    <p>An added extra in the login service is a Tensorflow autoencoder model exported to browser Javascript that is able to generate around 360 million unique profile images for users.</p>

    <div class="row mb-4">
        <div class="col">
            {{ 'doors/5tf_pfp.png'|gallery|safe }}
        </div>
        <div class="col">
            {{ 'doors/5users.png'|gallery|safe }}
        </div>
    </div>
</div>