<div id="merlin2">
    <h2>Merlin2</h2>
    <p>Merlin2 is an educational sharing website where students can upload course material in a hierarchy.</p>

    <p>It was written in 2014 using PHP & Jquery frontend and Python scripting used for mass-importing the older documents from the former docu-sharing system used by the faculty.</p>

    <div class="row mb-4">
        <div class="col-4 p-1">
            {{ 'merlin2/0index.png'|gallery|safe }}
        </div>
        <div class="col-4 p-1">
            {{ 'merlin2/faculties.png'|gallery|safe }}
        </div>
        <div class="col-4 p-1">
            {{ 'merlin2/documents.png'|gallery|safe }}
        </div>
        <div class="col-4 p-1">
            {{ 'merlin2/document view.png'|gallery|safe }}
        </div>
        <div class="col-4 p-1">
            {{ 'merlin2/targygraf.png'|gallery|safe }}
        </div>
        <div class="col-4 p-1">
            {{ 'merlin2/admin.png'|gallery|safe }}
        </div>
    </div>
</div>