{% extends "layout.html" %}

{% block scripts %}
<script type="text/javascript" src="/js/music/parser/d_scales.js"></script>

<script type="text/javascript" src="/js/music/render/notes.js"></script>
<script type="text/javascript" src="/js/music/render/{{ song.instrument }}/fingering.js"></script>
<script type="text/javascript" src="/js/music/render/{{ song.instrument }}/sheet.js"></script>
<script type="text/javascript" src="/js/music/gui.js"></script>
{% endblock %}


{% block metacontent %}
<div class="container-fluid">
    <div class="d-flex">
        <div class="p-2">
          <h2 class="mb-0">{{ song.name }}</h2>
          <div class="mb-3"><span class="badge bg-info">by {{ song.artist }}</span></div>
          <hr/>

          <div id="player">
            <button id="play" class="btn btn-light border border-secondary"><span class="ra ra-lg ra-play-button"></span></button>
            <button id="pause" class="btn btn-light border border-secondary"><span class="ra ra-lg ra-pause-button"></span></button>
            <button id="stop" class="btn btn-light border border-secondary"><span class="ra ra-lg ra-stop-button"></span></button>
          </div>
        </div>
        <div style="min-width: 850px; min-height: 500px;">
            <canvas id="canvas" width="800" height="600" style="border: solid 1px grey"></canvas>
        </div>
    </div>
</div>

<script type="text/javascript">
const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");
const width = canvas.width;
const height = canvas.height;
const RAD = 15;

render_song(ctx, RAD, {{ notes|tojson|safe }}, {{ song.view|tojson|safe }});

init_gui();
</script>

{% endblock %}

