{% extends "layout.html" %}

{% block scripts %}
<script type="text/javascript" src="/js/music/parser/d_scales.js"></script>

<script type="text/javascript" src="/js/music/playback/noteplayer.js"></script>

<script type="text/javascript" src="/js/music/render/player.js"></script>
<script type="text/javascript" src="/js/music/render/notes.js"></script>
<script type="text/javascript" src="/js/music/render/{{ song.instrument }}/fingering.js"></script>
<script type="text/javascript" src="/js/music/render/{{ song.instrument }}/sheet.js"></script>

<script type="text/javascript" src="/js/vendor/buzz.min.js"></script>

{% endblock %}


{% block metacontent %}
<div class="container-fluid">
    <div class="d-flex">
        <div class="p-2">
            <a href="{{ url_for('Home:get_index') }}" class="btn btn-sm btn-secondary">Back</a>

            {% if not song.is_scale %}
                <a href="{{ url_for('Songs:get_view_scale', scale_id=song.skey) }}" class="btn btn-sm btn-secondary">Scale</a>
            {% endif %}

          <h2 class="mb-0">{{ song.name }}</h2>
          <div class="mb-3"><span class="badge bg-info">by {{ song.artist }}</span></div>
          <hr/>
        
          <div id="player">
            <label for="bpmrange" class="form-label">Tempo: <span id="tempo">0</span></label>
            <input type="range" class="form-range" id="bpmrange" min="25" max="200" step="1">
            <br/>

            <button id="play" class="btn btn-light border border-secondary"><span class="ra ra-lg ra-play-button"></span></button>
            <button id="pause" class="btn btn-light border border-secondary"><span class="ra ra-lg ra-pause-button"></span></button>
            <button id="stop" class="btn btn-light border border-secondary"><span class="ra ra-lg ra-stop-button"></span></button>

            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <span class="ra ra-cog"></span>
            </button>
            <div class="collapse" id="collapseExample">
              <div class="card card-body mt-2">

                  <button id="play-notes" class="btn btn-light">
                      <span id="play-notes-ind" class="ra ra-2x ra-speaker"></span>
                      <span class="ra ra-2x ra-clarinet"></span>
                  </button>
                  <button id="play-metronome" class="btn btn-light">
                      <span id="play-metronome-ind" class="ra ra-2x ra-speaker-off"></span>
                      <span class="ra ra-2x ra-metronome"></span>
                  </button>
                  <button id="show-notes" class="btn btn-light">
                      <span id="show-notes-ind" class="ra ra-2x ra-sound-off"></span>
                  </button>
                  <button id="show-instrument" class="btn btn-light">
                      <span class="ra-stack">
                        <i id="show-instrument-ind" class="ra-stack-2x text-danger"></i>
                        <i class="ra-clarinet ra-stack-2x"></i>
                      </span>
                  </button>
              </div>
            </div>
          </div>
        </div>
        <div style="min-width: 850px; min-height: 500px;">
            <canvas id="canvas" width="800" height="600" style="border: solid 1px grey"></canvas>

            <br/>
            <div class="d-flex justify-content-center m-1">
                <button id="prev" class="btn btn-light border border-secondary"><b><<</b></button>

                <b id="nrpage" class="px-3 py-1 lead">0 / 0</b>

                <button id="next" class="btn btn-light border border-secondary"><b>>></b></button>
                
            </div>
        </div>
    </div>
</div>

<script src="/js/music/playback/gui.js"></script>

<script type="text/javascript">
const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");
const width = canvas.width;
const height = canvas.height;
const RAD = 15;

const _INSTRUMENT = "{{ song.instrument }}";

let initcb = init_gui({{ song.tempo }});


{% if song.is_scale %}
let _notes = fetch_complete_scale('{{ song.skey }}');
_notes = _notes.filter( function( el ) {
  return instrument_include( el );
} );
{% else %}
const _notes = {{ notes|tojson|safe }};
{% endif %}

ropts.override({{ song.ropts|tojson|safe }});

render_song(ctx, RAD, _notes, {{ song.view|tojson|safe }}, initcb);

window.player_ctx = player_ctx;
window.ropts = ropts;
</script>

{% endblock %}

